.address{
    /deep/ .van-nav-bar .van-icon, /deep/ .van-nav-bar__text{
        color:blue
    }
   /deep/ .van-cell{
       padding-left: 0;
       padding-right: 0;
   }
   /deep/ .van-switch--on{
       background-color: blue;
   }
   /deep/ .van-button--danger{
       background-color: blue;
       border-color: blue;
   }
   /deep/ .van-address-item .van-radio__icon--checked .van-icon{
        background-color: blue;
        border-color: blue;
   }
}