.address-list{
    /deep/ .van-nav-bar .van-icon, /deep/ .van-nav-bar__text{
        color:blue
    }
    /deep/ .van-address-list{
        padding: 0;
    }
    /deep/ .van-address-item{
        padding: 10px;
        border-bottom: 1px solid #e8e8e8;
        &:last-child{
            border-bottom: none;
        }
    }
    /deep/ .van-tag--danger{
        background-color: blue;
    }
    /deep/ .van-button--danger{
        border-color:blue;
        background-color: blue;
    }
}